<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.monitor.dao.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.imooc.monitor.entity.User">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="email" property="email" />
        <result column="data_source" property="dataSource" />
        <result column="created" property="created"/>
    </resultMap>

    <sql id="column">
        id, user_id, user_name, password, email, data_source, created
    </sql>

    <!-- 通过账号ID查询用户信息 -->
    <select id="selectOneByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="column"/>
        from user
        where user_id = #{userId}
        limit 1;
    </select>

    <!-- 查询账户信息列表 -->
    <select id="selectUserList" resultMap="BaseResultMap">
        select
        id, user_id, user_name, email, data_source, created
        from user
    </select>

</mapper>
